{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Orbital Calculator{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'bulma.min.css' %}" />
	<script src="{% static 'index.js' %}"></script>
</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img
					src="{% static 'icon.svg' %}"
          alt="Calculator" />
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          <strong>Orbital Assignment</strong></a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Section A
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/section_a/1">
              Kepler Hyperbolic
            </a>
            <a class="navbar-item" href="/section_a/2">
              Kepler Elliptic
            </a>
            <a class="navbar-item" href="/section_a/3">
              Lagrange coefficients and Time derivatives
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Section B
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/section_b/1">
              Task 1
            </a>
            <a class="navbar-item" href="/section_b/2">
              Task 2
            </a>
            <a class="navbar-item" href="/section_b/3">
              Task 3
            </a>
            <a class="navbar-item" href="/section_b/4">
              Gibbs' method of Preliminary Orbit Determination
            </a>
            <a class="navbar-item" href="/section_b/5">
              Lambert's Problem for Orbit Determination
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Section C
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/section_c/1">
              Inertial to Rotating Coordinates
            </a>
            <a class="navbar-item" href="/section_c/2">
              Rotating to Inertial Coordinates
            </a>
            <a class="navbar-item" href="/section_c/3">
              Geocentric to Perifocal
            </a>
            <a class="navbar-item" href="/section_c/4">
              Perifocal to Geocentric
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Section D
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/section_d/1">
              Julian Date
            </a>
            <a class="navbar-item" href="/section_d/2">
              Local Sideral Time
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Section E
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/section_e_1">
              Position, Velocity and Orbital Element
            </a>
           
          </div>
        </div>

       
        <a class="navbar-item" href="/section_f">Section F</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Section G
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/section_g/1">
              Hohmann Transfer
            </a>
            <a class="navbar-item" href="/section_g/3">
              Lambert Problem
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">{% block content %} {% endblock %}</div>
  </section>
</body>

</html>
