{% extends "base.html" %}

{% block title %}
Orbital GUI Calculator
{% endblock %}

{% block content %}

<div class="content">
    <h2>Section A</h2>
    <ol>
        <li>Naveen</li>
        <li>Naveen</li>
        <li>Vivek Patidar</li>
        <li>Devang</li>
    </ol>

    <h2>Section B</h2>
    <ol>
        <li>Anurag</li>
        <li>Anurag</li>
        <li>Anurag</li>
        <li>Shivali Gupta</li>
        <li>Kinshuk Verma</li>
        <li>Amit</li>
    </ol>

    <h2>Section C</h2>
    <ol>
        <li>Aritra</li>
        <li>Aritra</li>
        <li>Hemant</li>
        <li>NA</li>
        <li>NA</li>
    </ol>

    <h2>Section D</h2>
    <ol>
        <li>Suyash Suryvanshi and Sonu Kumar</li>
        <li>Suyash Suryvanshi and Sonu Kumar</li>
    </ol>

    <h2>Section E</h2>
    <ol>
        <li>Ankit Kumar Singh and Aashish Ranjan Singh</li>
        <li>Ankit Kumar Singh and Aashish Ranjan Singh</li>
    </ol>

    <h2>Section F</h2>
    <ol>
        <li>Sathwik</li>
    </ol>

    <h2>Section G</h2>
    <ol>
        <li>Romeo Sarkar</li>
        <li>Amit</li>
        <li>Shashwat</li>
    </ol>

    <h2>Section H</h2>
    <ol>
        <li>Devesh Gupta and Ayush Singh</li>
    </ol>
</div>

{% endblock %}
