{% extends "base.html" %}
{% block title %}
<title>Orbital GUI</title>
{% endblock %}
{% block head %}

  <p> Orbital GUI CALCULATOR</p>
{% endblock %}

{% block content %}

<nav class="navbar has-shadow ">
  <div class="navbar-brand">
   <a class="navbar-items">
   <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Hohmann_transfer_orbit.svg/1200px-Hohmann_transfer_orbit.svg.png" alt="Calculator" style="max-height: 90px" class="py-2 px-2">
   </a>
   <div>
   <h1>Orbital Calculator</h1>
   </div>

<div class="navbar-menu" id="nav-links">
 <div class="navbar-end">
 <a class="navbar-item">Elem1<a>
 <a class="navbar-item">Elem2<a>
 <a class="navbar-item">Elem3<a>
 </div>
 </div>
</nav>
<div class="section"><h2>Section-A</h2> 
 <p>Done by:- Naveen, Vivek Patidar and Shasvat Jain</p>
</div>
<div class="section"><h2>Section-B</h2> 
 <p>Done by:- Anurag and Shivali Gupta</p>
</div>
<div class="section"><h2>Section-C</h2> 
 <p>Done by:- Rick</p>
</div>
<div class="section"><h2>Section-D</h2> 
 <p>Done by:- Suyash Suryvanshi and Sonu Kumar</p>
</div>
<div class="section"><h2>Section-E</h2> 
 <p>Done by:- Ankit Kumar Singh and Aashish Ranjan Singh</p>
</div>
<div class="section"><h2>Section-F</h2> 
 <p>Done by:- Sathwik</p>
</div>
<div class="section"><h2>Section-G</h2> 
 <p>Done by:- Romeo Sarkar</p>
</div>
<div class="section"><h2>Section-H</h2> 
 <p>Done by:- Devesh Gupta and Ayush Singh</p>
</div>


  
 
{% endblock %}

